<!DOCTYPE html>
<html lang="en-US">
	<head>
    <meta charset="utf-8">
	</head>
	<body>

	<h1>Battleship</h1>

	<form method="POST" action="create_board">
      <%= csrf_token_field %>
      Board dimensions:
      <input type="text" name="x_board" /> <input type="text" name="y_board" />
      <button type="submit" class="btn btn-warning" id="submit_board">Create board</button>
  </form>

    <p>dimensions board: <%= @info_board %></p>
        
	
  <form method="POST" action="create_small_ship">
      <%= csrf_token_field %>
      Create a small ship:
      <input type="text" name="x_s" /> <input type="text" name="y_s" />
      <button type="submit" class="btn btn-warning" id="submit_small_ship">Create small ship</button>
   </form>

   
    <p>info small ship:  <%= @info_s %> </p>
   

  <form method="POST" action="create_large_ship">
      <%= csrf_token_field %>
      Create a large ship:
      <input type="text" name="x_l" /> <input type="text" name="y_l" />
      <button type="submit" class="btn btn-warning" id="submit_large_ship">Create large ship</button>
  </form>

     <p>large ship: <%= @info_l %></p>


  <form method="POST" action="shoot_ship">
      <%= csrf_token_field %>
      shoot at:
      <input type="text" name="x_shoot" /> <input type="text" name="y_shoot" />
      <button type="submit" class="btn btn-warning" id="submit_shoot">Shoot</button>
    </form>

    <p>result: <%= @info_shoot %></p>

     <form method="POST" action="is_empty">
      <%= csrf_token_field %>
      empty position?:
      <input type="text" name="x_e" /><input type="text" name="y_e" />
      <button type="submit" class="btn btn-warning" id="submit_is_empty">is empty?</button>
   </form>

    <p>empty: <%= @info_e %></p>
</html>
